@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.App {
  display: flex;
  flex-direction: column;
  background-color: #1e2124;
  height: 100vh;
  width: 100wh;
  align-items: center;
  overflow: hidden;
}

.Header {
  margin-bottom: 3vh;
}

.Title {
  color: #4CBB17;
  font-size: 50px;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: "row";
  padding: 10px;
  width: 70vw;
  border-radius: 5px;
  /* box-shadow: 0px 0px 15px black;
  background-color: #282b30; */
}

.Word {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

.Input {
  min-width: 40vw;
  max-width: 40vw;
  margin-top: 40px;
  background-color: #282b30;
  border-radius: 5px;
  height: 40px;
  outline: none;
  border: none;
  color: #99aab5;
  font-family: Roboto Mono;
  font-size: 18px;
  padding-inline: 20px;
  text-decoration: none;
  opacity: 1;
}